#App
{
    display: grid;

    grid-template-columns: 16% 84%;
    grid-template-areas: 'SideBar Main';

    height: 100%;
}

#SideBar
{
    position: relative;
    z-index: 1;

    grid-area: SideBar;
}

#Main
{
    grid-area: Main;
}