#App
{
    display: grid;

    grid-template-columns: 16% 84%;
    grid-template-areas: 'SideBar Main';

    height: 100%;
}

#SideBar
{
    position: relative;
    z-index: 1;

    grid-area: SideBar;
}

#Main
{
    grid-area: Main;

    grid-template-areas: 'Header'
                         'FirsMainSection'
                         'SecondMainSection';
}

#PageHeader
{
    grid-area: Header;

    max-width: 100%;
}

#FirstMainSection
{
    grid-area: FirsMainSection;
}

#SecondMainSection
{
    grid-area: SecondMainSection;

    margin: 15px 25px 15px 25px;
}