*
{
    margin: 0;
}

#PageHeader
{
    display: flex;
    align-items: center;

    box-sizing: border-box;

    min-height: 68px;

    background-color: #FDF1EB;

    color: #725C5C;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

#PageTitle
{
    display: grid;
    grid-template-rows: min-content;
    grid-template-areas: 'FirstSub'
                         'Title'
                         'SecondSub';

    margin-right: auto;

    font-family: Roboto;
    font-weight: 400;
}

#PageTitle > h2
{
    grid-area: Title;

    font-family: 'Roboto';
    font-weight: 400;
    font-size: clamp(13.5px, 1rem, 22px);
    color: #725C5C;

    height: fit-content;
}

#PageTitle > h3
{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: clamp(8px, 0.66rem, 14px);
    color: #725C5C;

}

#PageTitle > .FirstSubTitle
{
    grid-area: FirstSub;
}

#PageTitle > .SecondSubTitle
{
    grid-area: SecondSub;
}

#SelectLangWrapper
{
    display: flex;

    margin-right: 16px;

    padding: 5px 7px;

    font-family: 'Quicksand';
    font-weight: 400;
    font-size: clamp(10px ,0.75rem, 15px);
    color: #333333;

    border-width: 0.1rem;
    border-color: #CCCCCC;
    border-radius: 0.2rem;
    border-style: solid;

    cursor: pointer;
}

#SelectLangWrapper:focus-within
{
    outline-style: solid;
    outline-color: rgb(43, 43, 43);
    outline-width: 0.2rem;
    outline-offset: 0.1rem;
}

#SelectLangWrapper > .Globe
{
    width: clamp(10px ,0.75rem, 15px);
    aspect-ratio: 1/1;
}

#SelectLangWrapper > .DropDown
{
    width: clamp(8px ,0.5rem, 12px);
    aspect-ratio: 1/1;
}

#SelectLang
{
    /* Propriedades para resetar o estilo padrão do select */
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 0 0 0;
    margin: 0;
    width: min-content;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;

    text-align: center;

    margin-left: 3px;
    margin-right: 3px;
}

#AcountInfos
{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 'Msg Img'
                         'Email Img';
    column-gap: 0.6rem;
    
    font-family: 'Quicksand', sans-serif;
}

#AcountInfos > .WelcomeMsg
{
    grid-area: Msg;
    align-self: flex-end;
    justify-self: flex-end;

    font-family: 'Quicksand';
    font-weight: 400;
    font-size: clamp(10px, 0.66rem, 15px);
    color: #333333;
}

#AcountInfos > .AcountEmail
{
    grid-area: Email;
    align-self: flex-start;
    justify-self: flex-end;

    font-family: 'Quicksand';
    font-weight: 400;
    font-size: clamp(11px, 0.71rem, 13px);
}

#AcountInfos > .Img
{
    grid-area: Img;

    position: relative;

    align-self: center;

    
    height: clamp(20px, 1.5rem, 32px);
    aspect-ratio: 1/1;
    
    background-image: url('Images/Woman.jpg');
    background-size: cover;
    background-position: 10%;

    border-radius: 50% 50%;
}

#AcountInfos > .Img::after
{
    content: "2";

    position: absolute;
    top: -2px;
    right: -2px;

    border-radius: 50% 50%;

    min-height: 9px;
    min-width: 9px;
    width: 45%;
    height: 45%;

    background-color: #F85959;

    display:flex;
    justify-content: center;
    align-items: center;

    font-size: clamp(7px, 0.55rem, 11px);
    color: white;
    font-family: Roboto;
}